body {
    background-color: #FAFAFA;
}

div.gole-game-container {
    border: solid 1px #AAF;
    margin-left: 20px;
    margin-top: 20px;
    text-align:center;
    height: auto;
    overflow: auto
}

div.gole-board-container {
    border: solid 1px #AAA;
    margin-left: 200px;
    margin-top: 100px;
    text-align:center;
    height: auto;
    float: left;
    overflow: auto
}

div.gole-board-tile {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
    border: solid 1px #222;
    float:left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

div.gole-board-tile-effect-double-word {
    background-color: #99F;
}

div.gole-board-tile-effect-triple-word {
    background-color: #F99;
}

div.gole-board-tile-effect-double-letter {
    background-color: #DDF;
}

div.gole-board-tile-effect-triple-letter {
    background-color: #FDD;
}

div.gole-board-tile-effect-center {
    background-color: #FF0;
}

div.gole-board-tile-legal-placement:hover {
    background-color: #DFD;
}

div.gole-board-tile-illegal-placement:hover {
    background-color: #DDD;
}

div.gole-tile {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    border: solid 1px #F22;
    float:left
}

div.gole-tile-letter-character-container {
    width: 15px;
    height: 15px;
    color: #222;
    font-size: 12px;
}

div.gole-tile-letter-value-container {
    width: 7px;
    height: 7px;
    color: #F00;
    font-size: 5px;
}

div.gole-active-player-container {
    width: 200px;
    border: solid #222 2px;
    height: 200px;
}

div.gole-active-player-name-container {
    width: 100%;
    font-size: 30px;
}

div.gole-active-player-hand-container {
    width: 100%;
}
