body {
    background-color: #FAFAFA;
}

div.gole-game-container {
    border: solid 1px #AAF;
    margin-left: 20px;
    margin-top: 20px;
    text-align:center;
    height: auto;
    overflow: auto
}

div.gole-board-container {
    border: solid 1px #AAA;
    margin-left: 100px;
    margin-top: 50px;
    text-align:center;
    height: auto;
    float: left;
    overflow: auto
}

div.gole-board-tile {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    border: solid 1px #222;
    float:left;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

div.gole-board-tile-effect-double-word {
    background-color: #99F;
}

div.gole-board-tile-effect-triple-word {
    background-color: #F99;
}

div.gole-board-tile-effect-double-letter {
    background-color: #DDF;
}

div.gole-board-tile-effect-triple-letter {
    background-color: #FDD;
}

div.gole-board-tile-effect-center {
    background-color: #FF0;
}

div.gole-board-tile-legal-placement:hover {
    background-color: #DFD;
}

div.gole-board-tile-illegal-placement:hover {
    background-color: #DDD;
}

div.gole-tile {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px -2px #222;
    border: solid 2px #222;

    float:left
}

div.gole-tile-selectable:hover {
    background-color: #AFAFAF;
    box-shadow: 0px 0px 3px #222;
}

div.gole-tile-activated {
    background-color: #AFFFAF;
    box-shadow: 0px 0px 3px #000;
}

div.gole-tile-activated:hover {
    background-color: #DFFFDF;
    box-shadow: 0px 0px 3px #000;
}

div.gole-tile-margin {
    margin-right: 5px;
}

div.gole-tile-letter-character-container {
    width: 15px;
    height: 15px;
    color: #222;
    font-size: 30px;
    margin-left: 3px;
}

div.gole-tile-letter-value-container {
    width: 7px;
    height: 7px;
    color: #AAA;
    font-size: 10px;
    float: right;
    vertical-align: bottom;
    margin-right: 10px;
    margin-top: 10px
}

div.gole-active-player-container {
    min-width: 300px;
    border: solid #222 2px;
    height: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    padding: 20px;
    padding-top: 5px;
}

div.gole-active-player-name-container {
    width: 50%;
    font-size: 15px;
    float: left
}

div.gole-active-player-hand-container {
    width: 100%;
    clear: both;
}

div.gole-active-player-points-container {
    font-size: 15px;
    float: left;
    width: 40%;
}
