body {
    background-color: #FAFAFA;
}

div.gole-game-container {
    border: solid 1px #AAF;
    margin-left: 20px;
    margin-top: 20px;
    text-align:center;
    height: auto;
}

div.gole-prompt-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0px;
    left: 0px;
}

div.gole-prompt-dialog-container {
    margin: auto;
    margin-top: 50px;
    background-color: #FFF;
    border: solid 1px #AAA;
    box-shadow: 0px 0px 5px -2px #222;
    border-radius: 3px;
    width: 400px;
    min-height: 100px;
    padding: 20px;
}

div.gole-prompt-text-container {
    width: 80%;
    margin-bottom: 20px;
}

div.gole-prompt-neutral-text-container {
    color: #222;
}

div.gole-prompt-error-text-container {
    color: #F99;
    font-weight: bold;
}

.gole-prompt-dialog-text-field input[type="text"] {
  padding: 10px;
  border: none;
  border-bottom: solid 2px #c9c9c9;
  transition: border 0.3s;
}
.gole-prompt-dialog-text-field input[type="text"]:focus,
.gole-prompt-dialog-text-field input[type="text"].focus {
  border-bottom: solid 2px #969696;
}

button.gole-prompt-dialog-button {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 10px;
    box-shadow: 0px 0px 4px -2px #222;
}

button.gole-prompt-dialog-button:hover {
    cursor: pointer;
}

button.gole-prompt-dialog-neutral-button {
    background-color: #FFFFFF;
    color: #222;
}

button.gole-prompt-dialog-neutral-button:hover {
    background-color: #FAFAFA;
}

button.gole-prompt-dialog-success-button {
    background-color: #EFFFEF;
    color: #222;
}

button.gole-prompt-dialog-success-button:hover {
    background-color: #DFFFDF;
}

button.gole-gameplay-button {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    background-color: #AFAFFF;
}

button.gole-gameplay-button:hover {
    background-color: #BFBFFF;
}

div.gole-board-container {
    border: solid 1px #AAA;
    margin-left: 100px;
    margin-top: 50px;
    text-align:center;
    height: auto;
    float: left;
}

div.gole-board-tile {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    border: solid 1px #222;
    float:left;
    font-size: 20px;
    font-weight: bold;
}

div.gole-board-tile-no-tile {
    padding-top: 10px;
}

div.gole-board-tile-effect-double-word {
    background-color: #99F;
}

div.gole-board-tile-effect-triple-word {
    background-color: #F99;
}

div.gole-board-tile-effect-double-letter {
    background-color: #DDF;
}

div.gole-board-tile-effect-triple-letter {
    background-color: #FDD;
}

div.gole-board-tile-effect-center {
    background-color: #FF0;
}

div.gole-board-tile-legal-placement.gole-board-tile-legal-placement-show {
    background-color: #DFD;
}

div.gole-board-tile-illegal-placement.gole-board-tile-legal-placement-show {
    background-color: #DDD;
}

div.gole-tile {
    margin-left: auto;
    margin-right: auto;
    width: 45px;
    height: 45px;
    background-color: #FEFEFE;
    box-shadow: 0px 0px 3px -2px #222;
    border: solid 2px #222;

    float:left
}

div.gole-tile-selectable:hover {
    background-color: #AFAFAF;
    box-shadow: 0px 0px 3px #222;
}

div.gole-tile-activated {
    background-color: #AFFFAF;
    box-shadow: 0px 0px 3px #000;
}

div.gole-tile-activated:hover {
    background-color: #DFFFDF;
    box-shadow: 0px 0px 3px #000;
}

div.gole-tile-margin {
    margin-right: 5px;
}

div.gole-tile-letter-character-container {
    width: 15px;
    height: 15px;
    color: #222;
    font-size: 30px;
    margin-left: 3px;
}

div.gole-tile-letter-value-container {
    width: 7px;
    height: 7px;
    color: #AAA;
    font-size: 10px;
    float: right;
    vertical-align: bottom;
    margin-right: 10px;
    margin-top: 10px
}

div.gole-active-player-container {
    min-width: 300px;
    height: 100px;
    float: right;
    margin-top: 50px;
    margin-right: 100px;
    padding: 20px;
    padding-top: 5px;
    text-align: left;
}

div.gole-active-player-name-container {
    width: 50%;
    font-size: 20px;
    float: left;
    margin-bottom: 10px;
}

div.gole-active-player-hand-container {
    width: 100%;
    clear: both;
    background-color: #EDEDED;
    height: 50px;
    border-top: solid 2px #AAA;
    padding-top: 2px;
}

div.gole-active-player-points-container {
    font-size: 20px;
    float: right;
    width: 40%;
    text-align: right;
    margin-right: 10px;
}
